:root {
    --primary: #EE4166;
    --secondary: #8626F1;
    --background: #F7F3F1;
    --dark: #1A1A1A;
}

* {
    transition:.5s all;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    margin: 0;
    background-color:var(--background);
    padding:1em;
    gap: 1em;
}

h1, h2, h3, h4 {
    margin:0;
}

h3 {
    font-size:1em;
}

.extended-edges-label {
    margin-top:1em;
}

label {
    margin-top: 1em;
    margin-bottom: .5em;
}

h1 {
    font-size:2em;
}

section {
    width: -webkit-fill-available;
}

button {
    display:block;
    border: none;
    cursor: pointer;
    background-color:var(--primary);
    color:white;
    text-decoration:none;
    font-weight:900;
    padding-inline:unset;
    padding:.8em 1.2em;
    font-size:13px;
}

.customButton {
    display:block;
    border: none;
    cursor: pointer;
    background-color:var(--primary);
    color:white;
    text-decoration:none;
    font-weight:900;
    padding-inline:unset;
    padding:.8em 1.2em;
    font-size:13px;
    text-align:center;
}


.customButton:hover {
    background-color: var(--secondary);
}
button:hover {
    background-color: var(--secondary);
}

pre {
    -webkit-fill-available;
}

.menu {
    display: flex;
    flex-direction: row;
    gap: 1em;
    justify-content: center;
    align-items: center;
}

.container {
    width: -webkit-fill-available;
    background-color:white;
    box-shadow: 0px 2px 0px rgba(0,0,0,.1);
    display: flex;
    flex-direction:column;
    justify-content:space-between;
    align-items:flex-start;
    overflow: hidden;
    padding: 1em;
}

.intro .container {
    align-items:center;
    height:50px;
}


.content {
    display: grid;
    grid-template-columns: 400px 5fr;
    gap:1em;
}

.representation-container {
    display:grid;
    grid-template-columns: 4fr 400px;
    gap: 1em;

}

.intro {
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items: center;
}

.btn:hover {
    background-color:var(--secondary);
}


.output-column {
    width: 20%;
    background-color: #ffffff;
}

.input-container {
    display: flex;
    flex-direction:column;
    justify-content: flex-start;
    gap: 1em;
    width:100%;
}

.input-container input[type="text"], select, form {
    width: -webkit-fill-available;
}

#debug {
    display: flex;
    flex-direction:row;
    justify-content: flex-start;
    align-items:center;
    gap: 1em;
}

.input-item {
    display: flex;
    flex-direction: column;
    gap:.5em;
    align-items:flex-start;
}

input[type="text"],
select {
    padding: 10px;
    border: 1px solid #ccc;
}

input[type="checkbox"] {
}

select {
    border: 0px solid #ccc;
    outline:1px solid #ccc;
}


.layout {
    display:flex;
    flex-direction:column;
    gap: .5em;
    justify-content: flex-start;
    align-items:flex-start;
}

.canvas-container {
    width: -webkit-fill-available;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}



/* Tabbed content */

#tabsContainer {
    display:flex;
    flex-direction:column;
    text-align:left;
    width:-webkit-fill-available;
    gap:1em;
}

.tabs {
    overflow: hidden;
    display:flex;
    flex-direction:column;
    gap: .5em;
    width:-webkit-fill-container;
}

.tablinks {
    background-color: rgba(0,0,0,0);
    color:black;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 1em 2em;
    transition: background-color 0.3s;
    margin-right: 5px;
    border: 1px solid #ccc;
}

.tablinks:hover {
    background-color: #ddd;
}

.tablinks.active {
    background-color: var(--secondary);
    color:white;
}

.tabcontent {
    display: none;
    padding: 20px;
    border: 1px solid #ccc;
    border-top: none;
}

/* Show the first tab content by default */
.tabcontent:first-of-type {
    display: block;
}

canvas {
    border: 1px solid #ccc;
    border-radius:1em;
}

/* interactions */
.interactions-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: .5em;
    padding: .5em;
    width: -webkit-fill-available;
    text-align: left;
}

.interactions-inner {
    padding:1em;
}

.elements {
    max-height:calc(100vh - 300px);
    overflow-y:scroll;
}

.active > .interactions-label {
    background-color:var(--primary);

}

.interactions-label {
    background-color:#ccc;
    color:white;
    padding:.5em 1em;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
    text-transform: uppercase;
    overflow:hidden;
}

.metadata {
    display:flex;
    flex-direction:column;
    gap: 1em;
    justify-content:flex-start;
}

.interactions-block input {
    text-align:center;
    width:70px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    opacity: 1;
}

.interactions-block  {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size:12px;
}

.interactions-block p {
    margin:0;
    padding:.5em;
}

.element-item {
    border:1px solid #ccc;
    background-color:white;
    width:-webkit-fill-available;
}

.interactions-block {
    height:unset;
}

.generation {
    display:flex;
    flex-direction:column;
    gap:1em;
    align-items:normal;
}

.canvas-container {
    position: relative;
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    align-items:center;
}

.draggable {
    cursor: move;
}

.button-interaction {
    width:30px;
    font-size:20px;
    font-weight:900;
    padding:0;
    background-color:unset;
}

.button-interaction:disabled {
    display:none;
}

button:disabled {
    background-color:#ccc;
}

.button-interaction:hover:enabled {
    background-color: var(--primary);
}

.screen, .assets {
    grid-column: span 2;
}

.assets .interactions-container, .assets .interactions-block {
    grid-template-columns: 1fr;
}

.assets input {
    width:100%;
}

.individual-buttons label {
    font-size:12px;
}

.title {
    grid-column: span 2;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
    text-transform:uppercase;
    font-weight:900;
    font-size:14px;
}

.elements {
    display:flex;
    flex-direction:column;
    gap: 1em;
}

.extended-edges-container {
    width:100%;
    grid-column: span 2;
}

.extended-edges-inner {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.extended-edges-inner .interactions-block {
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
}

.screen-button, .assets .interactions-label {
    background-color:var(--secondary);
}

.popup {
    position:absolute;
    top:0;
    left:0;
    background-color:rgba(0,0,0,.5);
    width:100vw;
    height:100vh;
    display:flex;
    align-items:center;
    justify-content:center;
    display:none;
}

.output {
    background-color:white;
    box-shadow: 0px 2px 0px rgba(0,0,0,.1);
    padding: 1em;
    width:600px;
    max-height:80vh;
    overflow:hidden;

}

.jsonOutput {
    padding:1em;
    margin:0;
    overflow:hidden;
}


pre {
    background-color: var(--dark);
    white-space: pre-wrap;
    word-wrap: break-word;
    color:white;
    padding:1em;
    margin:0;
    height:500px;
    overflow:scroll;
}

.output-title {
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:space-between;
    margin-bottom:1em;
}

.close {
    background-color:var(--primary);
    width:30px;
    height:30px;
    font-weight:900;
    text-align:center;
    display:flex;
    align-items:center;
    justify-content:center;
    color:white;
    cursor:pointer;
}

.close:hover {
    background-color:var(--secondary);
}

.actions {
    display:flex;
    flex-direction:row;
    gap:1em;
    justify-content:center;
    align-items:center;
}

/* Hide the default file input */
input[type="file"] {
    display: none;
}

/* Style the custom file label */
.custom-file-label {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.custom-file-label:hover {
    background-color: #0056b3;
}