body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding:1em;
}

.container {
    display: flex;
    width: 90%;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
}

.column {
    padding: 20px;
}

.input-column {
    width: 80%;
    background-color: #f9f9f9;
    border-right: 1px solid #ccc;
    display:flex;
    flex-direction:column;
    gap:1em;
}

.output-column {
    width: 20%;
    background-color: #ffffff;
}

.input-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.input-item {
    display: flex;
    flex-direction: row;
    gap:1em;
    align-items:center;
}

input[type="text"],
select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="checkbox"] {
}

button {
    padding: 10px;
    border: none;
    background-color: #007BFF;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

pre {
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 5px;
    white-space: pre-wrap;
    word-wrap: break-word;
}

/* Tabbed content */

#tabsContainer {
    text-align:left;
}

.tabs {
    overflow: hidden;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
}

.tablinks {
    background-color: rgba(0,0,0,0);
    color:black;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px 20px;
    transition: background-color 0.3s;
    margin-right: 5px;
}

.tablinks:hover {
    background-color: #ddd;
}

.tablinks.active {
    background-color: #000;
    color:white;
}

.tabcontent {
    display: none;
    padding: 20px;
    border: 1px solid #ccc;
    border-top: none;
}

/* Show the first tab content by default */
.tabcontent:first-of-type {
    display: block;
}

canvas {
    border: 1px solid #ccc;
}

/* interactions */
.interactions-container {
    display:flex;
    flex-direction:row;
}

.interactions-inner {
    padding:1em;
}

.interactions-block {
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap:1em;
}

.interactions-block label input {
    text-align:center;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.interactions-block label {
    display:grid;
    grid-template-columns: 1fr 60px;
    font-size:.8em;
}

.interactions-block p {
    margin:0;
    padding:.5em;
}

.button {
    display: flex;
    flex-direction:column;
    gap: 1em;
    padding:2em;
    border:1px solid black;
    border-radius:.5em;
    background-color:white;
}

.interactions-label {
    grid-column: span 2;
}

.canvas-container {
    position: relative;
}

.draggable {
    cursor: move;
}

